/* Parâmetros iniciais para facilitar a construção */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Definindo a estrutura do body */

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

:root {
    --altura-header: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(width - margin);
    height: var(--altura-header);
    padding: 20px 10px 20px 20px;
    background-color: #2f2f2f;
}

#logo_alusim {
    width: auto;
    height: calc( var(--altura-header) / 0.5);
}

.menu_infos > a {
    color: #ffffff;
    text-decoration: none underline;
    padding: 15px 15px 15px 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo_boas_vindas {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

#boas_vindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 0px 50px;
    text-align: justify;
    text-indent: 30px;
}

#titulo_historia {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

#historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 50px 50px 0px 50px;
    text-indent: 30px;
}

#titulo_sobre_nos {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

#sobre_nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 50px 50px 50px 50px;
    text-indent: 30px;
}