/* Parâmetros iniciais para facilitar a construção */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
}

/* Definindo a estrutura do body */
:root {
    --altura-header: 100px;
}
:root {
    --altura-footer: 23px
}
:root {
    --altura-tela: 100vw
}

.corpo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(width - margin);
    height: var(--altura-header);
    padding: 20px 10px 20px 20px;
    background-color: #2f2f2f;
}

#logo_alusim {
    width: auto;
    height: var(--altura-header);
}

.menu_infos > a {
    color: #ffffff;
    text-decoration: none underline;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    font-family: "Cabin", sans-serif;
}




.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    gap: 20px;
}

.titulos-aboutus {
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-family:"Montserrat", sans-serif;
    font-size: 40px;
}

.secao-aboutus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    text-indent: 28px;
    font-family: "Cabin", sans-serif;

}

.divs-aboutus-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 600px;
    padding: 50px;
    font-size: 20px;
}

.imagems-aboutus {
    width: 500px;
    height: auto;
}

#titulo_historia {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

#historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 50px 50px 0px 50px;
    text-indent: 30px;
}

#titulo_sobre_nos {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

#sobre_nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 50px 50px 50px 50px;
    text-indent: 30px;
}

.area-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-aboutus {
    font-family:"Cabin", sans-serif;
    font-size: 18px;
    width: 200px;
    height: 60px;
    font-style: oblique;
    border-radius: 12px;
    background-color: #2f2f2f;
    background-image: linear-gradient(to bottom, #2f2f2f, #a9a9a9);
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    box-shadow: 2px 2px 4px #2f2f2f;
    cursor: pointer;
}

.btn-aboutus:hover {
    background-color: #a9a9a9;
    background-image: linear-gradient(to bottom, #a9a9a9, #2f2f2f);
    transform: scale(1.05);
}



#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    height: var(--altura-footer);
}