/* Parâmetros iniciais para facilitar a construção */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
}

/* Definindo a estrutura do body */
/* Definindo medidas padrões para header, footer e tela, para uso em futuros cálculos */
:root{
    --altura-tela: 100vw
}

:root {
    --altura-header: 100px;
}

:root{
    --altura-rodape: 23px
}

/* Definindo os parâmetros base do <body> */
.corpo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


/* ----------------------------------------- */
/* Definindo os parâmetros base do <header>  */
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(width - margin);
    height: var(--altura-header);
    padding: 20px 60px 20px 20px;
    background-color: #2f2f2f;
}

/* Definindo as características do logo no <header> */
#logo_alusim {
    width: auto;
    height: var(--altura-header);
}

/* Definindo as características dos menus superiores no <header> */
.menu_infos > a {
    color: #ffffff;
    text-decoration: none underline;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    font-family: "Cabin", sans-serif;
}


/* ----------------------------------------- */
/* Definindo os parâmetros base do <main> */
.main {
    display: flex;
    flex: 1;
    max-height: calc(var(--altura-tela) - var(--altura-header - (--altura-rodape)));
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
}

/* Seção onde será dividido entre o menu de informação com os dados de contato e os <input> de formulário */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    width: 100vw;
    height: auto;
}

.area-contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 80%;
    padding: 20px 20px 30px 50px;
}

/* Desenvolvimento base da divisória do telefone */
.contatos-fone {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    height: auto;
    padding: 20px;
    font-size: 26px;
    gap: 20px;
    text-decoration: none;
}
.espaco {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Desenvolvimento base da divisória do email */
.contatos-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    height: auto;
    padding: 20px;
    font-size: 26px;
    gap: 20px;
    text-decoration: none;
}

/* Desenvolvimento base da divisória da localização */
.contatos-localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    height: auto;
    padding: 20px;
    font-size: 26px;
    gap: 20px;
}
.link {
    color:#4169e1;
    text-decoration: none underline;
}
.link:hover {
    color: #2ea716;
}
/* Definindo a base da divisão voltada à mensagem do cliente */
.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: auto;
    padding: 20px 50px 30px 20px;
    gap: 20px   
}
/* Customização do título da divisória */
.mensagem > h2 {
    font-family: "Cabin", sans-serif;
    font-size: 32px;
}
/* Separação e organização dos inputs de mensagem */
.div-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 22px;

}
/* Desenvolvimento das entradas simples */
.input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #c9c7c7;
    color: #2f2f2f;
    padding: 0px 0px 0px 10px;
    border-width: 2px;
    box-shadow: 2px 2px 4px #2f2f2f;
    font-size: 18px;
}
/* Desenvolvimento da área da mensagem */
.textarea {
    color:#2f2f2f;
    border-radius: 8px;
    background-color: #c9c7c7;
    padding: 10px 0px 0px 10px;
    border-width: 2px;
    box-shadow: 2px 2px 4px #2f2f2f;
    font-size: 18px;
}
/* Customização dos ícones */
.icones {
    width: 28px;
    height: 28px;
}
/* Customização da área dos botões */
.area-botoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 16px;
    padding: 0px 0px 0px 30px
}
/* Custimização dos botões */
.botao-reset {
    color: #ffffff;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color:#dc1414 ;
    transition: background-color 0.3 ease, transform 0.2 ease;
    text-decoration: underline;
    background-image: linear-gradient(to bottom, #dc1414, #e93f3f);
    border-width: 2px;
    box-shadow: 2px 2px 4px #2f2f2f;
    cursor: pointer;
}
.botao-reset:hover{
    background-color:#e93f3f;
    background-image: linear-gradient(to bottom, #e93f3f, #dc1414);
    color: #ffffff;
    transform: scale(1.05);
}

.botao-enviar {
    color: #ffffff;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color:#039203 ;
    background-image: linear-gradient(to bottom, #039203, #00a700);
    transition: background-color 0.3 ease, transform 0.2 ease;
    text-decoration: underline;
    border-width: 2px;
    box-shadow: 2px 2px 4px #2f2f2f;
    cursor: pointer;
}
.botao-enviar:hover {
    background-color:#00a700;
    background-image: linear-gradient(to bottom, #00a700, #039203);
    color: #ffffff;
    transform: scale(1.05);
}

/* ----------------------------------------- */
/* Configuração geral do rodapé */
#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    width: 100%;
    height: var(--altura-rodape);

}