/* Parâmetros iniciais para facilitar a construção */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

/* Definindo a estrutura do body */
:root {
    --altura-header: 100px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(width - margin);
    height: var(--altura-header);
    padding: 20px 10px 20px 20px;
    background-color: #2f2f2f;
}

#logo_alusim {
    width: auto;
    height: calc( var(--altura-header) / 0.5);
}

.menu_infos > a {
    color: #ffffff;
    text-decoration: none underline;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    font-family: "Cabin", sans-serif;
}






#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
}