/* Parâmetros iniciais para facilitar a construção */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
}

/* Definindo a estrutura do body */
/* Definindo medidas padrões para header, footer e tela, para uso em futuros cálculos */
:root{
    --altura-tela: 100vw
}

:root {
    --altura-header: 100px;
}

:root{
    --altura-rodape: 23px
}

/* Definindo os parâmetros base do <body> */
.corpo {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: calc(100vh - var(--altura-header) - var(--altura-rodape));
    gap: 40px;
}

/* ----------------------------------------- */
/* Definindo os parâmetros base do <header>  */
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(width - margin);
    height: var(--altura-header);
    padding: 20px 60px 20px 20px;
    background-color: #2f2f2f;
}

/* Definindo as características do logo no <header> */
#logo_alusim {
    width: auto;
    height: var(--altura-header);
}

/* Definindo as características dos menus superiores no <header> */
.menu_infos > a {
    color: #ffffff;
    text-decoration: none underline;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    font-family: "Cabin", sans-serif;
}

/* ----------------------------------------- */
/* Custmização da seçao de janelas de correr */
.janela-correr {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 480px;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width:100px;
    scrollbar-darkshadow-color: #2f2f2f;
    scroll-padding: 4px;
    padding: 12px;
}

.carrossel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    padding: 8px;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 8px;
}

.imagens {
    width: 450px;
    height: 350px;
    padding: 8px;
}


/* ----------------------------------------- */
/* Configuração geral do rodapé */
#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    width: 100%;
    height: var(--altura-rodape);
}